@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
}

.main{
    text-align: center;
    gap: 10%;
}


.card {
    text-align: center;
    width: 100%;
    gap: 10%;
    height: 10%;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.2);
    background: #a5bbdd;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    display: inline-block;
}




@media (max-width: 600px) {
    .card {
        width: 90vw;
        height: 80vh;
    }

  
}

@media (max-width: 500px) {
    .card {
        height: 80vh;
    }

 
}
